body {
    color: black;
  }
  
  table, tr, td, th {
    border-color: black;
    border-width: thin;
    border-spacing: inherit;
    background-color: rgb(0, 255, 255);
    table-layout: inherit;
  }
  
  .blink {
    text-align: center;
    line-height: 50px;
  }
  
  span {
    font-size: 20px;
    color: rgb(255, 0, 0);
    animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: .5;
    }
  
    100% {
      opacity: 1;
    }
  }